In [11]:
import pandas as pd
df = pd.read_csv(r'/home/cse/Desktop/StudentInfo.csv')
print(df)

   ID     Name  Age  Phoneno
0   1      Ram   18  9078878
1   2     Raju   19  9802938
2   3   Rugved   19  9878749
3   4  Dulquer   18  9087098

In [12]:
import sqlite3

In [13]:
con = sqlite3.connect('Student.db')
cur = con.cursor()

In [14]:
cur.execute("Create Table Students(Id integer,Name text,Address text)")

In [39]:
cur.execute("Insert into Students Values(1,'Ram','Hyd',18)")

In [23]:
info= [(2,'Raju','Hyd'),
      (3,'Rugved','Del'),
      (4,'Dulquer','Mumbai')]
cur.executemany("Insert into Students Values(?,?,?)",info)

In [40]:
for row in cur.execute('Select * from Students'):
    print(row)

(2, 'Raju', 'Hyd', 18)
(3, 'Rugved', 'Chennai', 19)
(4, 'Dulquer', 'Mumbai', 19)
(1, 'Ram', 'Hyd', 18)

In [24]:
for row in cur.execute('Select * from Students'):
    print(row)

(1, 'Ram', 'Hyd')
(1, 'Ram', 'Hyd')
(2, 'Raju', 'Hyd')
(3, 'Rugved', 'Del')
(4, 'Dulquer', 'Mumbai')

In [25]:
cur.execute("Update Students set Address='Chennai' where Address = 'Del'")

In [29]:
cur.execute("Alter table Students add column Age Integer")

In [30]:
for row in cur.execute('Select * from Students'):
    print(row)

(1, 'Ram', 'Hyd', None)
(1, 'Ram', 'Hyd', None)
(2, 'Raju', 'Hyd', None)
(3, 'Rugved', 'Chennai', None)
(4, 'Dulquer', 'Mumbai', None)

In [31]:
cur.execute("Update Students set Age=18 where Address = 'Hyd'")

In [33]:
cur.execute("Update Students set Age=19 where Address In ('Mumbai','Chennai')")

In [34]:
for row in cur.execute('Select * from Students'):
    print(row)

(1, 'Ram', 'Hyd', 18)
(1, 'Ram', 'Hyd', 18)
(2, 'Raju', 'Hyd', 18)
(3, 'Rugved', 'Chennai', 19)
(4, 'Dulquer', 'Mumbai', 19)

In [36]:
cur.execute("Delete from Students where Id = 1")

In [37]:
for row in cur.execute('Select * from Students'):
    print(row)

(2, 'Raju', 'Hyd', 18)
(3, 'Rugved', 'Chennai', 19)
(4, 'Dulquer', 'Mumbai', 19)

In [41]:
con.commit()

In [43]:
con.close()